.form-grid {
    display: grid;
}

table {
    background-color: #212529;
}

/* tbody {
    height: 40px;
} */

/* .overflow-scroll {
    height: auto;
    width: 48em;
    white-space: normal;
    margin-right: .5em;
} */

#please-scroll{
    height: calc(100vh - 110px);
    overflow-y: scroll;
    white-space: normal;
  }